<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scrapper</title>
    <link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>
</head>
<body>
    <main class="container">
        <h1>Search Results for "{{keyword}}"</h1>
        <figure><table class="striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
            {% for wanted_job in wanted_jobs %}
                <tr>
                    <td>{{wanted_job.title}}</td>
                    <td>{{wanted_job.company_name}}</td>
                    <td>{{wanted_job.location}}</td>
                    <td><a href="{{wanted_job.link}}" targe="_blank">Apply now&rarr;</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table></figure>
    </main>
</body>
</html>