<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scrapper</title>
</head>
<body>
    <h1>Search Results for "{{keyword}}"</h1>
    {% for wanted_job in wanted_jobs %}
        <div>
            <span>{{wanted_job.title}}</span>
            <span>{{wanted_job.company_name}}</span>
            <span>{{wanted_job.location}}</span>
            <a href="{{wanted_job.link}}" targe="_blank">Apply now&rarr;</a>
        </div>
    {% endfor %}
</body>
</html>